In [5]:
import pandas as pd

u = pd.read_csv("energy_density_and_price_new.csv")
u.head()

,Fuel,Price ($USD/kg),Energy (MJ/$USD),CO2 (kg/kg),Energy (MJ/kg)
0,Crude oil,0.592895,75.055416,3.26185,44.5
1,Natural gas,0.256493,189.089061,2.70727,48.5
2,Coal,0.242350,99.030328,2.27040,24.0
3,Natural uranium,87.523414,5712.757046,0.00000,500000.0

In [6]:
new = pd.melt(u, id_vars=["Fuel"], var_name="Stat", value_name="Value")

In [7]:
new.head()

              Fuel              Stat      Value
0        Crude oil   Price ($USD/kg)   0.592895
1      Natural gas   Price ($USD/kg)   0.256493
2             Coal   Price ($USD/kg)   0.242350
3  Natural uranium   Price ($USD/kg)  87.523414
4        Crude oil  Energy (MJ/$USD)  75.055416

In [8]:
new.to_csv("energy_stats.csv", index=False)