In [28]:
import pandas as pd

u = pd.read_csv("energy_density_and_price_new.csv")
u.head()

,Fuel,Price ($USD/kg),Energy (MJ/$USD),CO2 (kg/kg),Energy (MJ/kg)
0,Crude oil,0.592895,75.055416,3.26185,44.5
1,Natural gas,0.256493,189.089061,2.70727,48.5
2,Coal,0.242350,99.030328,2.27040,24.0
3,Natural uranium,87.523414,5712.757046,0.00000,500000.0

In [29]:
u.loc[:,'Price ($USD/kg)':]=u.loc[:,'Price ($USD/kg)':].div(u.iloc[2]['Price ($USD/kg)':])

In [30]:
u

              Fuel Price ($USD/kg) Energy (MJ/$USD) CO2 (kg/kg) Energy (MJ/kg)
0        Crude oil        2.446442         0.757903    1.436685       1.854167
1      Natural gas        1.058357         1.909406     1.19242       2.020833
2             Coal             1.0              1.0         1.0            1.0
3  Natural uranium      361.144683        57.686945         0.0   20833.333333

In [35]:
u.drop(2).to_csv("coal_stats_compare.csv", index=False)

In [42]:
c = pd.read_csv("coal_stats_compare.csv")
c.head()

,Fuel,Price ($USD/kg),Energy (MJ/$USD),CO2 (kg/kg),Energy (MJ/kg)
0,Crude oil,2.446442,0.757903,1.436685,1.854167
1,Natural gas,1.058357,1.909406,1.192420,2.020833
2,Natural uranium,361.144683,57.686945,0.000000,20833.333333

In [43]:
new = pd.melt(c, id_vars=["Fuel"], var_name="Category", value_name="Value")

In [45]:
new

               Fuel          Category         Value
0         Crude oil   Price ($USD/kg)      2.446442
1       Natural gas   Price ($USD/kg)      1.058357
2   Natural uranium   Price ($USD/kg)    361.144683
3         Crude oil  Energy (MJ/$USD)      0.757903
4       Natural gas  Energy (MJ/$USD)      1.909406
5   Natural uranium  Energy (MJ/$USD)     57.686945
6         Crude oil       CO2 (kg/kg)      1.436685
7       Natural gas       CO2 (kg/kg)      1.192420
8   Natural uranium       CO2 (kg/kg)      0.000000
9         Crude oil    Energy (MJ/kg)      1.854167
10      Natural gas    Energy (MJ/kg)      2.020833
11  Natural uranium    Energy (MJ/kg)  20833.333333

In [46]:
new.to_csv("fuel_compared_with_coal.csv", index=False)

In [47]:
p = pd.read_csv("carbon_gdp_temp.csv")

In [51]:
p["CO2 Emission"].argmax()

3562

In [55]:
p.sort_values(["CO2 Emission"]).head(100)

,Year,Country Name,CO2 Emission,Country Code,Continent_Name,Temperature Change,GDP
1947,1968,Senegal,-0.020098,SEN,Africa,-0.492,1.309385e+09
4253,1979,Cambodia,0.004333,KHM,Asia,0.415,NaN
4031,1978,Cambodia,0.007379,KHM,Asia,0.213,NaN
363,1961,Nepal,0.007857,NPL,Asia,0.119,5.319596e+08
141,1960,Nepal,0.007984,NPL,Asia,NaN,5.083344e+08
...,...,...,...,...,...,...,...
9801,2004,Burundi,0.022435,BDI,Africa,0.632,9.152573e+08
125,1960,Mali,0.022990,MLI,Africa,NaN,NaN
4137,1978,Nepal,0.023002,NPL,Asia,-0.398,1.604162e+09
3585,1976,Burundi,0.023339,BDI,Africa,NaN,4.484128e+08
1256,1965,Niger,0.023422,NER,Africa,0.012,6.733836e+08