In [2]:
import pandas as pd

u = pd.read_csv("uranium_production.csv")
u.head()

             Country  Year  Uranium Produced
0         Kazakhstan  2011             19451
1          Australia  2011              5983
2            Namibia  2011              3258
3             Canada  2011              9145
4  Uzbekistan (est.)  2011              2500

In [4]:
u.Country = u.Country.str.replace(" (est.)", "")

C:\Users\wangj\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [5]:
u.head()

             Country  Year  Uranium Produced
0         Kazakhstan  2011             19451
1          Australia  2011              5983
2            Namibia  2011              3258
3             Canada  2011              9145
4  Uzbekistan (est.)  2011              2500

In [10]:
consumption.Year = consumption.Year.apply(lambda x: x[:-3])

In [38]:
n = pd.melt(consumption,id_vars=['Year'],var_name='Source', value_name='Energy')

In [40]:
n.to_csv("australian_energy_consumption.csv", index=False)

In [11]:
consumption.head()

   Year    Coal     Oil    Gas  Renewables
0  1974   981.1  1327.7  189.2       204.0
1  1975   981.2  1339.7  211.2       206.2
2  1976  1047.7  1410.6  256.2       199.3
3  1977  1070.4  1438.3  283.0       201.2
4  1978  1103.0  1440.9  314.9       199.6

In [12]:
consumption.to_csv("australian_energy_consumption.csv", index=False)

In [13]:
heat = pd.read_html("https://world-nuclear.org/information-library/facts-and-figures/heat-values-of-various-fuels.aspx")

In [17]:
heat[0]

                                     Unnamed: 0       Heat value
0                                 Hydrogen (H2)    120-142 MJ/kg
1                                 Methane (CH4)      50-55 MJ/kg
2                              Methanol (CH3OH)       22.7 MJ/kg
3                Dimethyl ether - DME (CH3OCH3)         29 MJ/kg
4                               Petrol/gasoline      44-46 MJ/kg
5                                   Diesel fuel      42-46 MJ/kg
6                                     Crude oil      42-47 MJ/kg
7                 Liquefied petroleum gas (LPG)      46-51 MJ/kg
8                                   Natural gas      42-55 MJ/kg
9              Hard black coal (IEA definition)      >23.9 MJ/kg
10         Hard black coal (Australia & Canada)      c. 25 MJ/kg
11         Sub-bituminous coal (IEA definition)  17.4-23.9 MJ/kg
12     Sub-bituminous coal (Australia & Canada)      c. 18 MJ/kg
13          Lignite/brown coal (IEA definition)      <17.4 MJ/kg
14  Lignite/brown coal (Australia, electricity)      c. 10 MJ/kg
15                               Firewood (dry)         16 MJ/kg
16     Natural uranium, in LWR (normal reactor)        500 GJ/kg
17  Natural uranium, in LWR with U & Pu recycle        650 GJ/kg
18                      Natural uranium, in FNR     28,000 GJ/kg
19             Uranium enriched to 3.5%, in LWR       3900 GJ/kg

In [18]:
heat = heat[0].rename(columns={"Unnamed: 0": "Fuel"})

In [19]:
heat.head()

                             Fuel     Heat value
0                   Hydrogen (H2)  120-142 MJ/kg
1                   Methane (CH4)    50-55 MJ/kg
2                Methanol (CH3OH)     22.7 MJ/kg
3  Dimethyl ether - DME (CH3OCH3)       29 MJ/kg
4                 Petrol/gasoline    44-46 MJ/kg

In [23]:
heat["Measurement"] = heat['Heat value'].apply(lambda x: x[-5:])

In [25]:
heat.drop("Value", axis=1, inplace=True)

In [26]:
heat.head()

                             Fuel     Heat value Measurement
0                   Hydrogen (H2)  120-142 MJ/kg       MJ/kg
1                   Methane (CH4)    50-55 MJ/kg       MJ/kg
2                Methanol (CH3OH)     22.7 MJ/kg       MJ/kg
3  Dimethyl ether - DME (CH3OCH3)       29 MJ/kg       MJ/kg
4                 Petrol/gasoline    44-46 MJ/kg       MJ/kg

In [27]:
heat.to_csv("energy_density.csv", index=False)

In [28]:
sector = pd.read_excel("energy_consumption_by_sector.xlsx")

In [31]:
sector.head()

,Year,Transport,Electricity Supply,Manufacturing,Mining,Residential,Commercial,Other
0,1974,701.0,540.4,927.6,64.8,246.3,82.9,131.7
1,1975,715.0,559.9,925.9,67.3,246.4,84.8,131.5
2,1976,761.9,634.3,943.1,73.8,260.2,88.4,144.2
3,1977,798.7,662.6,952.9,73.0,261.0,90.2,146.8
4,1978,812.9,691.6,955.1,76.5,270.5,95.2,151.3

In [30]:
sector.Year = sector.Year.apply(lambda x: x[:-3])

In [32]:
sector.to_csv("energy_consumption_by_sector.csv", index=False)

In [33]:
consumption.head()

   Year    Coal     Oil    Gas  Renewables
0  1974   981.1  1327.7  189.2       204.0
1  1975   981.2  1339.7  211.2       206.2
2  1976  1047.7  1410.6  256.2       199.3
3  1977  1070.4  1438.3  283.0       201.2
4  1978  1103.0  1440.9  314.9       199.6

In [41]:
d = pd.read_csv("australian_energy_consumption.csv")

In [42]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184 entries, 0 to 183
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    184 non-null    int64
 1   Source  184 non-null    object
 2   Energy  184 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 4.4+ KB

In [43]:
uranium = pd.read_html("https://www.world-nuclear.org/information-library/nuclear-fuel-cycle/mining-of-uranium/world-uranium-mining-production.aspx")

In [46]:
uranium[0]

,Country,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Kazakhstan,19451,21317,22451,23127,23607,24689,23321,21705,22808,19477
1,Australia,5983,6991,6350,5001,5654,6315,5882,6517,6613,6203
2,Namibia,3258,4495,4323,3255,2993,3654,4224,5525,5476,5413
3,Canada,9145,8999,9331,9134,13325,14039,13116,7001,6938,3885
4,Uzbekistan (est.),2500,2400,2400,2400,2385,3325,3400,3450,3500,3500
5,Niger,4351,4667,4518,4057,4116,3479,3449,2911,2983,2991
6,Russia,2993,2872,3135,2990,3055,3004,2917,2904,2911,2846
7,China (est.),885,1500,1500,1500,1616,1616,1692,1885,1885,1885
8,Ukraine,890,960,922,926,1200,808,707,790,800,744
9,India (est.),400,385,385,385,385,385,421,423,308,400
10,South Africa (est.),582,465,531,573,393,490,308,346,346,250
11,Iran (est.),0,0,0,0,38,0,40,71,71,71
12,Pakistan (est.),45,45,45,45,45,45,45,45,45,45
13,Brazil,265,326,192,55,40,44,0,0,0,15
14,USA,1537,1596,1792,1919,1256,1125,940,582,58,6
15,Czech Republic,229,228,215,193,155,138,0,0,0,0
16,Romania,77,90,77,77,77,50,0,0,0,0
17,France,6,3,5,3,2,0,0,0,0,0
18,Germany,51,50,27,33,0,0,0,0,0,0
19,Malawi,846,1101,1132,369,0,0,0,0,0,0
20,Total world,53493,58493,59331,56041,60304,63207,60514,54154,54742,47731
21,tonnes U3O8,63082,68974,69966,66087,71113,74357,71361,63861,64554,56287
22,% of world demand,87%,94%,91%,85%,98%,96%,93%,80%,81%,74%

In [47]:
uranium = uranium[0].drop(22,axis=0)

In [50]:
uranium = uranium.drop([20,21],axis=0)

In [52]:
u = pd.melt(uranium,id_vars=["Country"],var_name='Year', value_name='Uranium Produced')

In [55]:
u.to_csv("uranium_production.csv", index=False)

In [56]:
sector.head()

,Year,Transport,Electricity Supply,Manufacturing,Mining,Residential,Commercial,Other
0,1974,701.0,540.4,927.6,64.8,246.3,82.9,131.7
1,1975,715.0,559.9,925.9,67.3,246.4,84.8,131.5
2,1976,761.9,634.3,943.1,73.8,260.2,88.4,144.2
3,1977,798.7,662.6,952.9,73.0,261.0,90.2,146.8
4,1978,812.9,691.6,955.1,76.5,270.5,95.2,151.3

In [57]:
s = pd.melt(sector, id_vars=["Year"], var_name="Sector", value_name="Energy")

In [59]:
s.to_csv("energy_by_sector.csv", index=False)